h1 Status Request for #{@meeting.team_name}
p = @greeting + "!"
p
  | It's time for you to send your #{@meeting.time} status update at #{@meeting.team_name}!
p
  | You can&nbsp;
  a href="#{@url}" target="_blank"
    | click here
  |  to do it or use the following URL:
  |  #{@url}
