.col-sm-12
  h2 =< @team.name

  => link_to 'Edit', edit_team_path
  ' |
  = link_to 'Destroy', @team, data: { confirm: 'Are you sure?' }, method: :delete

- if @team.meetings.any?
  .col-sm-12
    h4 Meetings
    table.table-bordered.table-hover
      thead
        tr
          th width="100" Date
          th width="100" Time
          th

      tbody
        - @team.meetings.each do |meeting|
          tr
            td = meeting.created_at.to_date
            td = meeting.time
            td = link_to 'Show', meeting
