p#notice = notice

.col-sm-12
  p
    strong Team:
    = @meeting.team.name
  p
    strong Time:
    =< @meeting.time

  =< link_to 'Back', team_path

hr

- if @meeting.statuses.any?
  .col-sm-12
    h4 Messages
    table.table-bordered.table-hover
      thead
        tr
          th width="200" Teammate
          th width="600" Message

      tbody
        - @meeting.statuses.each do |status|
          tr
            td = status.teammate.email
            td = status.message
