= simple_form_for([@meeting, @status]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :message

  .form-actions
    = f.button :submit
