doctype html
html
  head
    title DailyManager
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    - if current_user
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        a.navbar-brand href="#" DailyManager
        button.navbar-toggler.navbar-toggler-right aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarSupportedContent" data-toggle="collapse" type="button"
          span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              = link_to "home", root_url, class: "nav-link"
          = link_to "logout", destroy_user_session_path, :method => :delete, :data => {:confirm => 'Are you sure?'}, class: "nav-link"
    .container role="main" style="padding: 80px"
      - if notice
        .alert.alert-info.alert-dismissible.fade.show role="alert"
          = notice
          button.close[type="button" data-dismiss="alert" aria-label="Close"]
            span[aria-hidden="true"]
              | ×
      - if alert
        .alert.alert-warning.alert-dismissible.fade.show role="alert"
          = alert
          button.close[type="button" data-dismiss="alert" aria-label="Close"]
            span[aria-hidden="true"]
              | ×
      = yield
